.light-green {
    font-family: 'Poppins', sans-serif;
    padding: var(--lightDarkGreen-pd);
    background-color: #2A5732;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.light-green * {
    background-color: #2A5732;
    color: #FFF9F4;
}
.about-the-resturant {
    width: var(--aboutTheResturant-wd);
    margin: var(--aboutTheResturant-mg);
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(9, auto);
    row-gap: var(--aboutTheResturant-rowGap);
    justify-content: space-between;
}
.about-the-resturant a {
    text-decoration: none;
    font-size: var(--aboutTheResturant-fs);
}
.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--socialMedia-gap);
}
.follow-us {
    font-size: var(--followUs-fs);
    font-style: italic;
}
.icons {
    display: flex;
    gap: var(--icons-gap);
}
.face a, .insta a, .tik a, .linked a {
    font-size: var(--icons-fs);
    padding: var(--icons-pd);
    background-color: #FFF9F4;
    border-radius: 50%;
}
.fa-brands {
    color: #2A5732;
    background-color: #FFF9F4;
    border-radius: 50%;
}
.dark-green {
    font-family: 'Poppins', sans-serif;
    padding: var(--darkGreen-pd);
    background-color: #00340B;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr auto;
}
.dark-green * {
    background-color: #00340B;
    color: #FFF9F4;
}
.legality {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    gap: var(--legality-gap);
}
.legality a {
    font-size: var(--legality-fs);
    text-decoration: none;
}
.burger-shack-bricks {
    width: var(--burgerShackBricks-wd);
    order: 2;
    justify-self: center;
}
.est-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--estDate-gap);
    justify-self: center;
    order: 1;
    margin-bottom: 2vh;
}
.date {
    font-size: var(--date-fs);
    font-style: italic;
}
.back-to-top {
    font-size: var(--backToTop-fs);
    color: #FFF2E6;
    background-color: #2A5732;
    border: 1px solid #FFF2E6;
    border-radius: var(--border-rd);
    padding: var(--backToTop-pd);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: flex;
    gap: var(--backToTop-gap);
}
.fa-arrow-up {
    background-color: #2A5732;
}
.back-to-top span {
    background-color: #2A5732;
}

@media (min-width: 250px) {
    :root {
        /* Light Green Footer Responsive CSS */
        --lightDarkGreen-pd: 6vh 5.5vw;
        --aboutTheResturant-wd: auto;
        --aboutTheResturant-mg: 0 auto 3vh;
        --aboutTheResturant-rowGap: 2vh;
        --aboutTheResturant-fs: clamp(1rem, 4.26vw, 1.2rem);
        --socialMedia-gap: 3vh;
        --followUs-fs: clamp(1rem, 4.26vw, 1.2rem);
        --icons-gap: 4vw;
        --icons-fs: clamp(1.6rem, 6.82vw, 2rem);
        --icons-pd: 1vh 2.5vw;

        /* Dark Green Footer Responsive CSS */
        --darkGreen-pd: 3vh 0 0;
        --legality-gap: 1.5vh;
        --legality-fs: clamp(1rem, 4.26vw, 1.2rem);
        --burgerShackBricks-wd: 95vw;
        --estDate-gap: 3vh;
        --date-fs: clamp(1rem, 4.26vw, 1.2rem);
        --backToTop-fs: clamp(1rem, 4.26vw, 1.2rem);
        --backToTop-pd: 1.5vh 3.5vw 1.5vh 2vw;
        --backToTop-gap: 1vw;
    }
}
@media (min-width: 375px) {
    :root {
        /* Light Green Footer Responsive CSS */
        --lightDarkGreen-pd: 6vh 5.5vw;
        --aboutTheResturant-wd: auto;
        --aboutTheResturant-mg: 0 auto 3vh;
        --aboutTheResturant-rowGap: 2vh;
        --aboutTheResturant-fs: clamp(1rem, 4.26vw, 1.2rem);
        --socialMedia-gap: 3vh;
        --followUs-fs: clamp(1rem, 4.26vw, 1.2rem);
        --icons-gap: 2.5vw;
        --icons-fs: clamp(1.6rem, 6.82vw, 2rem);
        --icons-pd: 1.2vh 2vw;

        /* Dark Green Footer Responsive CSS */
        --darkGreen-pd: 3vh 0 0;
        --legality-gap: 1.5vh;
        --legality-fs: clamp(1rem, 4.26vw, 1.2rem);
        --burgerShackBricks-wd: 95vw;
        --estDate-gap: 3vh;
        --date-fs: clamp(1rem, 4.26vw, 1.2rem);
        --backToTop-fs: clamp(1rem, 4.26vw, 1.2rem);
        --backToTop-pd: 1.5vh 3.5vw 1.5vh 2vw;
        --backToTop-gap: 1vw;
    }
}
@media (min-width: 500px) {
    :root {
        /* Light Green Footer Responsive CSS */
        --lightDarkGreen-pd: 6vh 5.5vw;
        --aboutTheResturant-wd: auto;
        --aboutTheResturant-mg: 0 auto 3vh;
        --aboutTheResturant-rowGap: 1.2vh;
        --aboutTheResturant-fs: clamp(1rem, 3.2vw, 1.2rem);
        --socialMedia-gap: 3vh;
        --followUs-fs: clamp(1rem, 3.2vw, 1.2rem);
        --icons-gap: 2vw;
        --icons-fs: clamp(1.4rem, 4.48vw, 2rem);
        --icons-pd: 1.2vh 1.5vw;

        /* Dark Green Footer Responsive CSS */
        --darkGreen-pd: 3vh 0 0;
        --legality-gap: 1.5vh;
        --legality-fs: clamp(1rem, 3.2vw, 1.2rem);
        --burgerShackBricks-wd: 85vw;
        --estDate-gap: 3vh;
        --date-fs: clamp(1rem, 3.2vw, 1.2rem);
        --backToTop-fs: clamp(1rem, 3.2vw, 1.2rem);
        --backToTop-pd: 1.5vh 2.5vw 1.5vh 1.5vw;
        --backToTop-gap: 1vw;
    }
}
@media (min-width: 800px) {
    :root {
        /* Light Green Footer Responsive CSS */
        --lightDarkGreen-pd: 7vh 5.5vw;
        --aboutTheResturant-wd: 63%;
        --aboutTheResturant-rowGap: 1vh;
        --aboutTheResturant-fs: clamp(0.85rem, 1.7vw, 1.1rem);
        --socialMedia-gap: 2.5vh;
        --followUs-fs: clamp(0.85rem, 1.7vw, 1.1rem);
        --icons-gap: 1.05vw;
        --icons-fs: clamp(1.2rem, 2.4vw, 1.8rem);
        --icons-pd: 1.2vh 1vw;

        /* Dark Green Footer Responsive CSS */
        --legality-gap: 1vh;
        --legality-fs: clamp(0.85rem, 1.7vw, 1.1rem);
        --burgerShackBricks-wd: 50vw;
        --estDate-gap: 1.5vh;
        --date-fs: clamp(0.85rem, 1.7vw, 1.1rem);
        --backToTop-fs: clamp(0.85rem, 1.7vw, 1.1rem);
        --backToTop-pd: 1vh 1.1vw 1vh 0.75vw;
        --backToTop-gap: 0.5vw;
    }
    .light-green {
        flex-direction: row;
    }
    .about-the-resturant {
        margin: 0;
        text-align: left;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }
    .dark-green {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 100%;
        padding: var(--lightDarkGreen-pd);
    }
    .legality {
        justify-self: left;
    }
    .est-date {
        justify-self: right;
    }
    .est-date {
        order: 2;
    }
    .burger-shack-bricks {
        order: 1;
    }
}
@media (min-width: 1200px) {
    :root {
        /* Light Green Footer Responsive CSS */
        --lightDarkGreen-pd: 7vh 6.5vw;
        --aboutTheResturant-wd: 65%;
        --aboutTheResturant-rowGap: 1.4vh;
        --aboutTheResturant-fs: clamp(1.05rem, 1.4vw, 3.4rem);
        --socialMedia-gap: 2.5vh;
        --followUs-fs: clamp(1.05rem, 1.4vw, 3.4rem);
        --icons-gap: 1vw;
        --icons-fs: clamp(1.35rem, 1.8vw, 4rem);
        --icons-pd: 1vh 0.55vw;

        /* Dark Green Footer Responsive CSS */
        --legality-gap: 1.4vh;
        --legality-fs: clamp(1.05rem, 1.4vw, 3.4rem);
        --burgerShackBricks-wd: 48vw;
        --estDate-gap: 2.5vh;
        --date-fs: clamp(1.05rem, 1.4vw, 3.4rem);
        --backToTop-fs: clamp(1.05rem, 1.4vw, 3.4rem);
        --backToTop-pd: 1.5vh 1.5vw 1.5vh 1vw;
        --backToTop-gap: 0.5vw;
    }
}