.header {
    width: 100vw;
    height: var(--header-height);
    min-height: var(--logo-wd);
    padding: var(--header-pd);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF9F4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #5a57575f;
    z-index: 100;
}
.left-side {
    display: flex;
    align-items: center;
    gap: var(--leftside-gap);
    justify-self: start;
}
.sidebar {
    color: #00340B;
    background-color: #FFF9F4;
    font-size: var(--sidebar-fs);
    border: 1px solid #00340B;
    border-radius: var(--border-rd);
    padding: var(--sidebar-pd);
    cursor: pointer;
}
.sidebar .fa-x {
    display: none;
}

.sidebar .fa-x.fa-x-open {
    display: block;
}

.sidebar .fa-burger {
    display: block;
}

.sidebar .fa-burger.fa-burger-closed {
    display: none;
}
.map-btn {
    font-size: var(--headbtn-fs);
    color: #FFF9F4;
    background-color: #00340B;
    border: 1px solid #00340B;
    border-radius: var(--border-rd);
    padding: var(--headbtn-pd);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: none;
}
.map-btn:hover {
    transform: var(--hover-tr);
}
.right-side {
    display: flex;
    align-items: center;
    justify-self: end;
}
.delivery {
    width: var(--delivery-wd);
    font-size: var(--headbtn-fs);
    font-weight: 500;
    color: #00340B;
    background-color: #FFF9F4;
    border: 1px solid #00340B;
    border-radius: var(--border-rd);
    padding: var(--headbtn-pd);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.delivery:hover {
    color: #FFF9F4;
    background-color: #00340B;
    transform: var(--hover-tr);
}
.logo {
    width: var(--logo-wd);
    justify-self: center;
}
.logo img {
    width: 100%;
}
@media (min-width: 250px) {
    :root {
        --header-height: 14vh;
        --header-pd: 0.6em 0.8em;
        --sidebar-fs: clamp(1.65rem, 2.8vw, 2.6rem);
        --headbtn-fs: clamp(0.7rem, 1vw, 1rem);
        --leftside-gap: 1em;
        --border-rd: 0.25em;
        --sidebar-pd: 0.20em;
        --headbtn-pd: 0.8em 0.8em;
        --hover-tr: translateY(-0.125em);
        --logo-wd: 9vh;
        --delivery-wd: 6em;
    }
    .map-btn {
        display: none;
    }
    .delivery {
        width: var(--delivery-wd);
        font-weight: 500;
    }
}
@media (min-width: 375px) {
    :root {
        --header-pd: 0.6em 1.2em;
        --sidebar-fs: clamp(1.8rem, 7.68vw, 2rem);
        --headbtn-fs: clamp(0.9rem, 2vw, 1.6rem);
        --headbtn-pd: 0.8em 0.8em;
        --logo-wd: 10vh;
        --delivery-wd: 6.3em;
    }
}
@media (min-width: 500px) {
    :root {
        --header-height: 16vh;
        --header-pd: 0.7em 2.0em;
        --sidebar-fs: clamp(1.5rem, 4.9vw, 1.6rem);
        --headbtn-fs: clamp(0.8rem, 2.8vw, 1rem);
        --sidebar-pd: 0.25em;
        --headbtn-pd: 0.60em 1em;
        --logo-wd: 11.5vh;
        --delivery-wd: 6.5em;
    }
}
@media (min-width: 800px) {
    :root {
        --header-pd: 0.7em 2.6em;
        --sidebar-fs: clamp(0.85rem, 1.45vw, 1.8rem);
        --headbtn-fs: clamp(0.85rem, 1.45vw, 1.8rem);
        --sidebar-pd: 0.4em;
        --headbtn-pd: 0.52em 1em;
        --logo-wd: 12vh;
        --delivery-wd: auto;
    }
    .map-btn {
        display: block;
    }
}
@media (min-width: 1200px) {
    :root {
        --sidebar-fs: clamp(0.8rem, 1.35vw, 4rem);
        --headbtn-fs: clamp(0.8rem, 1.35vw, 4rem);
        --headbtn-pd: 0.482em 0.95em;
        --logo-wd: 13vh;
    }
}